* {
  box-sizing: border-box; }

html {
  font-size: 100%; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  line-height: 1.5;
  font-family: 'acumin-pro', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #d4838f;
  background: url("../images/email-pattern-pink.png");
  background-repeat: repeat;
  margin: 0;
  position: relative; }

main {
  padding-top: 9.5rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center; }
  @media only screen and (min-width: 48rem) {
    main {
      padding-top: 6rem; } }
  @media only screen and (min-width: 100rem) {
    main {
      padding-top: 9rem; } }

@media only screen and (min-width: 48rem) {
  .container {
    max-width: 92%; } }
@media only screen and (min-width: 125rem) {
  .container {
    max-width: 112rem; } }

a,
input[type="submit"] {
  transition: background-color 0.3s ease; }

header h1 > a {
  text-decoration: none;
  color: #2f2e41; }
  header h1 > a:hover {
    text-decoration: underline;
    cursor: pointer; }

nav {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  z-index: 9999;
  left: 0;
  width: 100%;
  box-shadow: 0 0 0.625rem rgba(47, 46, 65, 0.2); }
  nav .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column; }
    @media only screen and (min-width: 48rem) {
      nav .container {
        flex-direction: row;
        justify-content: space-between; } }
  nav ul {
    display: flex;
    margin: 0;
    flex-direction: column;
    width: 100%;
    padding: 0; }
    @media only screen and (min-width: 48rem) {
      nav ul {
        flex-direction: row;
        width: auto; } }
  nav li {
    list-style: none;
    margin: 0; }
    nav li:not(:first-child) {
      border-left: 1px solid #B9727C; }
    nav li a {
      display: inline-block;
      text-decoration: none;
      font-size: 1.25rem;
      color: #ffffff;
      padding: 0.75rem 72px;
      background-color: #d4838f; }
      @media only screen and (max-width: 48rem) {
        nav li a {
          width: 100%;
          text-align: center; } }
      nav li a.active {
        background-color: #c04a5c;
        cursor: default; }
      nav li a:hover {
        background-color: #c04a5c; }

.container.contact {
  flex-direction: column;
  align-items: baseline;
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 0 0.625rem rgba(47, 46, 65, 0.2); }
  @media only screen and (min-width: 40rem) {
    .container.contact {
      border-radius: 0.5rem;
      padding: 2.5rem 3rem 3rem 3rem; } }
  @media only screen and (min-width: 62rem) and (max-width: 125rem) {
    .container.contact {
      padding-bottom: 1.5rem; } }
  @media only screen and (min-width: 100rem) {
    .container.contact {
      flex-direction: row;
      align-items: flex-end;
      padding: 3.5rem 2.75rem 2.75rem 5.5rem; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2f2e41;
  letter-spacing: -1px;
  font-weight: 700;
  font-style: normal;
  margin: 0; }

h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  line-height: 1; }
  @media only screen and (min-width: 40rem) {
    h2 {
      font-size: 3rem;
      text-align: left; } }
  @media only screen and (min-width: 48rem) {
    h2 {
      font-size: 3.25rem; } }
  @media only screen and (min-width: 100rem) {
    h2 {
      font-size: 3.5rem; } }

form {
  margin-right: 0;
  flex-grow: 1;
  width: 100%; }
  @media only screen and (min-width: 100rem) {
    form {
      flex-grow: 2;
      min-width: 690px;
      margin-right: 2.75rem;
      width: 100%; } }

fieldset {
  border: 1px solid rgba(47, 46, 65, 0.2);
  padding: 1.5rem; }

legend {
  padding: 0 10px;
  font-size: 1.25rem;
  font-weight: 700;
  color: rgba(47, 46, 65, 0.85); }

label {
  font-size: 1.25rem;
  display: block;
  margin-bottom: 0.5rem; }

input,
textarea {
  font-size: 1.25rem;
  margin: 0;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  background-color: #f2f2f2;
  color: rgba(47, 46, 65, 0.75); }
  @media only screen and (max-width: 48rem) {
    input,
    textarea {
      font-size: 1.2rem; } }

.control-radio:focus,
select:active,
select:focus,
input[type='text']:active,
input[type='text']:focus,
textarea:active,
textarea:focus {
  outline: 0;
  box-shadow: 0 0 0 3px #d4838f; }

input[type='text'] {
  height: 3rem;
  width: 100%;
  padding: 0 1.5rem 4px;
  transition: box-shadow 0.3s ease; }

textarea {
  width: 100%;
  padding: 1rem 1.5rem 1.25rem;
  transition: box-shadow 0.3s ease; }
  @media only screen and (max-width: 48rem) {
    textarea {
      height: 20rem; } }

fieldset {
  border-radius: 0.5rem;
  padding-top: 0.5rem; }

fieldset:not(:last-of-type) {
  margin-bottom: 1rem; }
  @media only screen and (max-width: 48rem) {
    fieldset:not(:last-of-type) {
      margin: 3rem 0; } }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  width: 100%;
  color: #ffffff; }
  footer .container {
    display: flex;
    justify-content: center; }

.personal-info {
  display: grid;
  column-gap: 1.5rem;
  row-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: 'firstName' 'lastName' 'phone' 'email'; }
  @media only screen and (min-width: 62rem) {
    .personal-info {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: 'firstName lastName' 'phone email'; } }

.field-1 {
  grid-area: firstName; }

.field-2 {
  grid-area: lastName; }

.field-3 {
  grid-area: phone; }

.field-4 {
  grid-area: email; }

.project-info {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: 'primaryLanguage services' 'details details'; }
  @media only screen and (max-width: 48rem) {
    .project-info {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      grid-template-areas: 'primaryLanguage' 'services' 'details'; } }

.field-5 {
  grid-area: primaryLanguage; }

.field-6 {
  grid-area: services; }

.field-7 {
  grid-area: details; }

.control-radio {
  display: flex;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  height: 3rem;
  width: 100%;
  padding: 0.5rem 1.5rem 0 0;
  transition: box-shadow 0.3s ease; }

input[type='radio'] {
  margin: 0.5rem 1rem 0 1.5rem; }

input[type='radio']:after {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 1.25rem;
  top: -0.125rem;
  left: -0.125rem;
  position: relative;
  background-color: #d4838f;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 0;
  box-sizing: border-box; }

input[type='radio']:checked:after {
  content: '';
  border-radius: 1.25rem;
  background-color: #ffffff;
  visibility: visible;
  border: 0.3125rem solid #d4838f; }

input[type='submit'] {
  background-color: #d4838f;
  font-size: 1.25rem;
  font-weight: 700;
  border: none;
  color: white;
  padding: 0.5rem 4rem 0.75rem 4rem;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.5rem;
  width: 100%;
  margin: 1.5rem 0; }
  @media only screen and (min-width: 40rem) {
    input[type='submit'] {
      margin: 3rem 0; } }
  @media only screen and (min-width: 48rem) {
    input[type='submit'] {
      width: auto;
      margin: 2.25rem 0 0 0;
      padding: 0.5rem 10rem 0.75rem 10rem; } }
  @media only screen and (min-width: 100rem) {
    input[type='submit'] {
      padding: 0.5rem 4rem 0.75rem 4rem; } }

input[type='submit']:hover {
  background-color: #c04a5c; }

select {
  background-color: #f2f2f2;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1.5rem 0.1875rem 1.5rem;
  border: 0;
  width: 100%;
  font-size: 1.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.5rem;
  transition: box-shadow 0.3s ease; }

.control-select {
  position: relative;
  background-color: #f2f2f2;
  border-radius: 0.5rem; }

.select-icon {
  color: #2f2e41;
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  z-index: 99; }

.undraw-girl {
  width: 100%;
  margin-bottom: 0; }
  @media only screen and (min-width: 40rem) {
    .undraw-girl {
      margin-bottom: 0; } }
  @media only screen and (min-width: 48rem) {
    .undraw-girl {
      margin-top: 3rem; } }
  @media only screen and (min-width: 62rem) {
    .undraw-girl {
      flex-grow: 1;
      align-self: flex-end;
      margin-bottom: 1.5rem;
      width: 40%; } }
  @media only screen and (min-width: 100rem) {
    .undraw-girl {
      margin-bottom: 5rem;
      width: 25rem; } }

/*# sourceMappingURL=style.css.map */
