$color-primary: #d4838f;
$color-primary-hover: darken($color-primary, 15%);
$color-primary-dull: #B9727C;
$color-secondary: #2f2e41;
$color-tertiary: #f2f2f2;
$white: #ffffff;
$background-color-primary: $color-primary;
$background-color-secondary: $white;
$text-color-headings: $color-secondary;
$border-radius: 0.5rem;
$box-shadow: 0 0 0.625rem rgba(47, 46, 65, 0.2);
$transition-background: background-color 0.3s ease;
$transition-border: box-shadow 0.3s ease;
$small-breakpoint: 40rem;
$medium-breakpoint: 48rem;
$large-breakpoint: 62rem;
$extra-large-breakpoint: 100rem;
$extra-extra-large-breakpoint: 125rem;

* {
  box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	display: flex;
  min-height: 100vh;
  flex-direction: column;
  line-height: 1.5;
  font-family: 'acumin-pro', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: $background-color-primary;
  background: url('../images/email-pattern-pink.png');
  background-repeat: repeat;
  margin: 0;
  position: relative;
}

main {
	padding-top: 9.5rem;
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	@media only screen and (min-width: $medium-breakpoint) {
		padding-top: 6rem;
	}
	@media only screen and (min-width: $extra-large-breakpoint) {
		padding-top: 9rem;
	}
}

.container {
	@media only screen and (min-width: $medium-breakpoint) {
		max-width: 92%;
	}
	@media only screen and (min-width: $extra-extra-large-breakpoint) {
		max-width: 112rem;
	}
}

a,
input[type="submit"] {
	transition: $transition-background;
}

header {
	h1 > a {
		text-decoration: none;
		color: $color-secondary;
		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}
}

nav {
	display: flex;
	justify-content: center;
  background-color: $white;
  position: absolute;
  top: 0;
  z-index: 9999;
  left: 0;
	width: 100%;
	box-shadow: $box-shadow;
	.container {
		width: 100%;
    display: flex;
		align-items: center;
		justify-items: center;
		flex-direction: column;
		@media only screen and (min-width: $medium-breakpoint) {
			flex-direction: row;
			justify-content: space-between;
		}
	}
  ul {
		display: flex;
		margin: 0;
		flex-direction: column;
		width: 100%;
		padding: 0;
		@media only screen and (min-width: $medium-breakpoint) {
			flex-direction: row;
			width: auto;
		}
	}
	li {
		list-style: none;
		margin: 0;
		&:not(:first-child){
			border-left: 1px solid $color-primary-dull;
		}
		a {
			display: inline-block;
			text-decoration: none;
			font-size: 1.25rem;
			color: $white;
			padding: 0.75rem 72px;
			background-color: $color-primary;
			@media only screen and (max-width: $medium-breakpoint) {
				width: 100%;
				text-align: center;
			}
			&.active {
				background-color: $color-primary-hover;
				cursor: default;
			}
			&:hover {
				background-color: $color-primary-hover;
			}
		}
	}
}

.container.contact {
	flex-direction: column;
	align-items: baseline;
	padding: 3rem 1.5rem 1.5rem 1.5rem;
  width: 100%;
  display: flex;
  background-color: $background-color-secondary;
	box-shadow: $box-shadow;
	@media only screen and (min-width: $small-breakpoint) {
		border-radius: $border-radius;
		padding: 2.5rem 3rem 3rem 3rem;
	}
	@media only screen and (min-width: $large-breakpoint) and (max-width: $extra-extra-large-breakpoint) {
		padding-bottom: 1.5rem;
	}
	@media only screen and (min-width: $extra-large-breakpoint) {
		flex-direction: row;
		align-items: flex-end;
		padding: 3.5rem 2.75rem 2.75rem 5.5rem;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color-headings;
  letter-spacing: -1px;
  font-weight: 700;
  font-style: normal;
  margin: 0;
}

h2 {
	text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
	line-height: 1;
	@media only screen and (min-width: $small-breakpoint) {
		font-size: 3rem;
		text-align: left;
	}
	@media only screen and (min-width: $medium-breakpoint) {
		font-size: 3.25rem;
	}
	@media only screen and (min-width: $extra-large-breakpoint) {
		font-size: 3.5rem;
	}
}

form {
  margin-right: 0;
	flex-grow: 1;
	width: 100%;
	@media only screen and (min-width: $extra-large-breakpoint) {
		flex-grow: 2;
		min-width: 690px;
		margin-right: 2.75rem;
		width: 100%;
	}
}

fieldset {
  border: 1px solid rgba(47, 46, 65, 0.2);
  padding: 1.5rem;
}

legend {
  padding: 0 10px;
  font-size: 1.25rem;
  font-weight: 700;
  color: rgba(47, 46, 65, 0.85);
}

label {
  font-size: 1.25rem;
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea {
  font-size: 1.25rem;
  margin: 0;
  border: none;
  outline: none;
  border-radius: $border-radius;
  background-color: $color-tertiary;
	color: rgba(47, 46, 65, 0.75);
	@media only screen and (max-width: $medium-breakpoint) {
		font-size: 1.2rem;
	}
}

.control-radio:focus,
select:active,
select:focus,
input[type='text']:active,
input[type='text']:focus,
textarea:active,
textarea:focus {
  outline: 0;
  box-shadow: 0 0 0 3px $color-primary;
}

input[type='text'] {
  height: 3rem;
  width: 100%;
	padding: 0 1.5rem 4px;
	transition: $transition-border;
}

textarea {
  width: 100%;
	padding: 1rem 1.5rem 1.25rem;
	transition: $transition-border;
	@media only screen and (max-width: $medium-breakpoint) {
		height: 20rem;
	}
}

fieldset {
  border-radius: $border-radius;
  padding-top: 0.5rem;
}

fieldset:not(:last-of-type) {
	margin-bottom: 1rem;
	@media only screen and (max-width: $medium-breakpoint) {
		margin: 3rem 0;
	}
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	.container {
		display: flex;
		justify-content: center;
	}
	height: 4.5rem;
	width: 100%;
	color: $white;
}

.personal-info {
  display: grid;
  column-gap: 1.5rem;
  row-gap: 1rem;
  grid-template-columns: 1fr;
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
	'firstName'
	'lastName'
	'phone'
	'email';
	@media only screen and (min-width: $large-breakpoint) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
			'firstName lastName'
			'phone email';
	}
	
}

.field-1 {
  grid-area: firstName;
}

.field-2 {
  grid-area: lastName;
}

.field-3 {
  grid-area: phone;
}

.field-4 {
  grid-area: email;
}

.project-info {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    'primaryLanguage services'
		'details details';
	@media only screen and (max-width: $medium-breakpoint) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			'primaryLanguage'
			'services'
			'details';
	}
}

.field-5 {
  grid-area: primaryLanguage;
}

.field-6 {
  grid-area: services;
}

.field-7 {
  grid-area: details;
}

.control-radio {
  display: flex;
  background-color: $color-tertiary;
  border-radius: $border-radius;
  height: 3rem;
  width: 100%;
	padding: 0.5rem 1.5rem 0 0;
	transition: $transition-border;
}

input[type='radio'] {
  margin: 0.5rem 1rem 0 1.5rem;
}

input[type='radio']:after {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 1.25rem;
  top: -0.125rem;
  left: -0.125rem;
  position: relative;
  background-color: $color-primary;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 0;
  box-sizing: border-box;
}

input[type='radio']:checked:after {
  content: '';
  border-radius: 1.25rem;
  background-color: $white;
  visibility: visible;
  border: 0.3125rem solid $color-primary;
}

input[type='submit'] {
  background-color: $color-primary;
  font-size: 1.25rem;
  font-weight: 700;
  border: none;
  color: white;
  padding: 0.5rem 4rem 0.75rem 4rem;
  text-decoration: none;
  cursor: pointer;
	border-radius: $border-radius;
	width: 100%;
	margin: 1.5rem 0;
	@media only screen and (min-width: $small-breakpoint) {
		margin: 3rem 0;
	}
	@media only screen and (min-width: $medium-breakpoint) {
		width: auto;
		margin: 2.25rem 0 0 0;
		padding: 0.5rem 10rem 0.75rem 10rem;
	}
	@media only screen and (min-width: $extra-large-breakpoint) {
		padding: 0.5rem 4rem 0.75rem 4rem;
	}
}

input[type='submit']:hover {
  background-color: $color-primary-hover;
}

select {
  background-color: $color-tertiary;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1.5rem 0.1875rem 1.5rem;
  border: 0;
  width: 100%;
  font-size: 1.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	border-radius: $border-radius;
	transition: $transition-border;
}

.control-select {
  position: relative;
  background-color: $color-tertiary;
  border-radius: $border-radius;
}

.select-icon {
  color: $color-secondary;
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  z-index: 99;
}

.undraw-girl {
	width: 100%;
	margin-bottom: 0;
	@media only screen and (min-width: $small-breakpoint) {
		margin-bottom: 0;
	}
	@media only screen and (min-width: $medium-breakpoint) {
		margin-top: 3rem;
	}
	@media only screen and (min-width: $large-breakpoint) {
		flex-grow: 1;
		align-self: flex-end;
		margin-bottom: 1.5rem;
		width: 40%;
	}
	@media only screen and (min-width: $extra-large-breakpoint) {
		margin-bottom: 5rem;
		width: 25rem;
	}
}
